.shop-header {
    width: 100%;
    height: 170px;
    position: relative;
}

.shop-header::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.507);
}

.shop-header-cover-image {
    width: 100%;
    max-height: 100%;
}

.shop-header-info {
    position: absolute;
    top: 0;
    left: 0;
    width:400px;
    height: 100%;
    margin-left: 15px;
    margin-top: 30px;
    
}

.shop-header-info-user {
    display: flex;
    align-items: center;
    justify-content: center;
}

.shop-header-info-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid var(--gray);
}

.shop-header-info-content {
    width: calc(400px - 80px);
    align-items: center;
    padding-left: 15px;
}

.shop-header-info-content p:first-child {
    font-size: 18px;
    color: var(--white);
    font-weight: 700;
}

.shop-header-info-content p:last-child {
    color: var(--white);
}

.shop-header-info-content p:last-child svg {
    margin-right: 8px;
}

.shop-header-button {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px -5px 0 -5px;
}

.shop-button-item {
    width: 50%;
    padding: 4px;
    border-radius: 2px;
    color: var(--white);
    font-weight: 600;
    border: 1px solid currentColor;
    background-color: transparent;
    text-transform: uppercase;
    margin: 0 5px;
}

.shop-button-item:hover {
    background-color: rgba(255, 255, 255, 0.233);
}

.shop-button-item svg{
    margin-right: 14px;
}


.shop-category-title {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px;

}

.shop-category-title svg {
    margin-right: 15px;
}

.shop-category-list li {
    margin: 8px 0;
    font-size: 12px;
}

.shop-category-list li:hover,
.shop-category-list li:hover svg {
    cursor: pointer;
    color: var(--main);
    display: flex;
}

.shop-category-list-li-click {
    color: var(--main);
}

.shop-category-list li svg{
    display: none;
    margin-right: 8px;
}

.shop-category-list-li-click,
.shop-category-list-li-click svg {
    display: flex !important;
}